version: '2'
volumes:
  postgres_data: {}
  redis_data: {}
services:
  django:
    image: ${HUB_HOST}/${COMPOSE_PROJECT_NAME}/django:${PROJECT_VERSION}
    build:
      context: ..
      dockerfile: ./docker/images/django/Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      - LOCAL_USER_ID=${LOCAL_USER_ID}
      - API_DATABASE_URL=psql://api:api@postgres:5432/api_db
      - API_POSTGRES_WAIT=true
      - API_POSTGRES_MIGRATE=true
      - API_CELERY_BROKER_URL=redis://redis:6379/1
      - API_CELERY_RESULT_BACKEND=redis://redis:6379/1
      - API_EMAIL_HOST=mailhog
    volumes:
      - '../api:/code'
    ports:
      - '127.0.0.1:8000:8000'
    depends_on:
      - postgres
      - redis
      - mailhog
  postgres:
    image: ${HUB_HOST}/${COMPOSE_PROJECT_NAME}/postgres:${PROJECT_VERSION}
    build: ./images/postgres
    environment:
      - POSTGRES_DB=api_db
      - POSTGRES_USER=api
      - POSTGRES_PASSWORD=api
    volumes:
      - postgres_data:/var/lib/postgresql/data
  django_sshd:
    image: haos616/sshd:latest
    privileged: true
    pid: host
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    environment:
      - DOCKER_CONTAINER=${COMPOSE_PROJECT_NAME}_django_1
    ports:
      - '127.0.0.1:22358:22'
    depends_on:
      - django
  celery_worker:
    image: ${HUB_HOST}/${COMPOSE_PROJECT_NAME}/django:${PROJECT_VERSION}
    command: celery worker -A celery_app -l debug
    environment:
      - LOCAL_USER_ID=${LOCAL_USER_ID}
      - API_DATABASE_URL=psql://api:api@postgres:5432/api_db
      - API_POSTGRES_WAIT=true
      - API_CELERY_BROKER_URL=redis://redis:6379/1
      - API_CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERY_RDB_HOST=0.0.0.0
      - API_EMAIL_HOST=mailhog
    volumes:
      - '../api:/code'
    ports:
      - '127.0.0.1:6899-6910:6899-6910'
    depends_on:
      - postgres
      - redis
  redis:
    image: redis:3.2.8
    volumes:
      - redis_data:/data
  mailhog:
    image: mailhog/mailhog
    ports:
      - "127.0.0.1:8025:8025"
  nginx:
    image: ${HUB_HOST}/${COMPOSE_PROJECT_NAME}/nginx:${PROJECT_VERSION}
    build: ./images/nginx
    environment:
      - API_DEV=true
    ports:
      - '127.0.0.1:80:80'
    depends_on:
      - django
  site:
    image: ${HUB_HOST}/${COMPOSE_PROJECT_NAME}/site:${PROJECT_VERSION}
    build:
      context: ..
      dockerfile: ./docker/images/site/Dockerfile
    ports:
      - '127.0.0.1:3000:3000'
      - '127.0.0.1:35729:35729'
    volumes:
      - '../site:/code'
      - '/code/node_modules/'
    command: gulp
